@charset "UTF-8";

@font-face {
    font-family:PoppinsBold ;
    src: url(../../fontes/Poppins-Bold.otf);
}

@font-face {
    font-family:PoppinsRegular ;
    src: url(../../fontes/Poppins-Regular.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    transition: width .3s, height .3s, ease;
}

body{
    background-image:url(../../imagens/back2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

