@charset "UTF-8";

@font-face {
    font-family:PoppinsBold ;
    src: url(../../fontes/Poppins-Bold.otf);
}

@font-face {
    font-family:PoppinsRegular ;
    src: url(../../fontes/Poppins-Regular.otf);
}

body{
    background-image: url(../../imagens/back2.jpg)
}