@font-face {
    font-family:RobotoBold ;
    src: url(../fontes/Roboto-Bold.ttf);
}

@font-face {
    font-family:RobotoRegular ;
    src: url(../fontes/Roboto-Regular.ttf);
}

@font-face {
    font-family:PoppinsBold ;
    src: url(../fontes/Poppins-Bold.otf);
}

@font-face {
    font-family:PoppinsRegular ;
    src: url(../fontes/Poppins-Regular.otf);
}